<div class="wrapper">
  <div class="main-header">
    <div class="logo-header">
      <a routerLink="/home" routerLinkActive="active" class="logo">
        REX
      </a>
      <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="topbar-toggler more">
        <i class="la la-ellipsis-v"></i>
      </button>
    </div>

    <!-- HEADER -->
    <nav class="navbar navbar-header navbar-expand-lg">

    </nav>
  </div>
  <div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item" [ngClass]="{'active': isActive === 'list'}">
          <a routerLink="/home" routerLinkActive="active">
            <i class="la la-list"></i>
            <p>Les préfectures</p>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 'publish'}">
          <a routerLink="/submit" routerLinkActive="active">
            <i class="la la-edit"></i>
            <p>Publier un REX</p>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 'contact'}">
          <a routerLink="/contact" routerLinkActive="active">
            <i class="la la-envelope"></i>
            <p>Me contacter</p>
          </a>
        </li>
        <li class="nav-item update-pro bot0">
          <button (click)="submitIdea()">
            <i class="la la-hand-pointer-o"></i>
            <p>Une idée?</p>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">

    <!-- Main Data -->
    <router-outlet></router-outlet>


    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright ml-auto">
          2018, développé avec
          <i class="la la-heart heart text-danger"></i> par
          <a href="http://www.fb.com/romaricboss">Romaric HODONOU</a>
        </div>
      </div>
    </footer>
  </div>
</div>