<div class="content">
  <div class="container-fluid">

    <div class="page-title" *ngIf="noInfo === false">
      <div class="mb-2">Légende</div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <div class="cercle bg-warning align-bottom"></div> Etudiant vers Salarié
        </div>
        <div class="col-md-3 mb-3">
          <div class="cercle bg-primary align-bottom"></div> Etudiant vers Passeport talent
        </div>
        <div class="col-md-3 mb-3">
          <div class="cercle bg-success align-bottom"></div> APS vers Salarié
        </div>
        <div class="col-md-3 mb-3">
          <div class="cercle bg-danger align-bottom"></div> APS vers Passeport Talent
        </div>
      </div>
    </div>

    <div class="row" *ngIf="noInfo === false">
      <div class="col-md-3 click" *ngFor="let d of rexList; let i = index" (click)="read(i)">
        <div class="card card-stats" [ngClass]="{'card-warning' : d.typeCDS === '1','card-primary' : d.typeCDS === '2','card-success' : d.typeCDS === '3','card-danger' : d.typeCDS === '4' }">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="la la-file"></i>
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">{{d.name}}</p>
                  <span>A duré
                    <strong>{{d.processDuration}}</strong> jours</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="noInfo === true">
      <div class="col-md-6 mx-auto">
        <div class="card card-stats card-info">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <div class="icon-big text-center">
                  <i class="la la-times"></i>
                </div>
              </div>
              <div class="col-10 d-flex align-items-center">
                <span>Aucun Retour d'expérience n'a été publié pour cette préfecture. Revenez plus tard.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>