.no-pad{
    padding: 0!important;
}

.card-img-top{
    height: 150px!important;
}

.pref-name{
    font-weight: bold;
    font-size: 16px;
}

.pref-box{
    cursor: pointer;
}

.card-body{
    background: inherit;
    color: inherit;
    transition: all 0.5s ease-out;
}

.pref-box:hover .card-body{
    background: #22A7F0;
    color: white;
}