<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Liste des Préfectures</h4>
    <div class="row">

      <div class="col-md-3 pref-box" *ngFor="let pref of prefList;let i = index">
        <div class="card no-pad" (click)="viewDetail(pref.id)">
          <img class="card-img-top" src="assets/img/img.jpg" alt="Card image cap">
          <div class="card-body">
            <span class="pref-name">
              {{pref.pref}}
            </span>
            <p class="card-text">Une petite description</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
